# DB CONFIG (Azure Database for PostgreSQL)
DATABASE_URL="postgres://user:password@hostname.postgres.database.azure.com:5432/postgres?sslmode=require"

# APP CONFIG
APP_PORT=8080
JWT_SECRET=supersecret

# GEMINI API 
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemini-2.5-flash

# AZURE STORAGE CONFIG
AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_KEY=your_storage_key
AZURE_CONTAINER_NAME=avatars
AZURE_MATERIALS_CONTAINER_NAME=materials
MAX_MATERIAL_FILE_SIZE_MB=20

# FRONTEND CONFIG
VITE_API_URL=http://localhost:8080/api/v1
