POSTGRES_USER=edusmart
POSTGRES_PASSWORD=gajiprogrammer
POSTGRES_DB=edusmart_db

DATABASE_URL=postgresql://edusmart_db:gajiprogrammer@db:5432/edusmart

AZURE_STORAGE_CONNECTION_STRING=

GEMINI_API_KEY=

JWT_SECRET=